@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica-Light')
        url('../fonts/helvetica_light.woff2') format('woff2'),
        url('../fonts/helvetica_light.woff') format('woff'),
        url('../fonts/helvetica_light.eot') format('embedded-opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica-Regular')
        url('../fonts/helvetica_regular.woff2') format('woff2'),
        url('../fonts/helvetica_regular.woff') format('woff'),
        url('../fonts/helvetica_regular.eot') format('embedded-opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica-Bold')
        url('../fonts/helvetica_bold.woff2') format('woff2'),
        url('../fonts/helvetica_bold.woff') format('woff'),
        url('../fonts/helvetica_bold.eot') format('embedded-opentype');
    font-weight: 700;
}