body {
    font-family: 'Lato';
    background-color: #242428;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*--Header--*/
.header__top {
    padding: 20px 0;
    position: sticky;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-img-box {
    width: 190px;
    height: 49px;
}

.header__top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__top-nav-list {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
}

.header__top-nav-list-item {
    transition: all .3s;
}

.header__top-nav-list-item:hover {
    text-decoration: underline;
}

.header__top-socials {
    display: flex;
    gap: 10px;
}

.header__top-socials-item {
    width: 30px;
    width: 30px;
}

.header__top-socials-img {
    width: 100%;
}

.header__main-inner {
    position: relative;
}
.slider-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slider-item {
    min-width: 100%;
    height: 100%;
    padding: 0 100px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
.slider-item:nth-child(1) {
    background-color: #ffc847;
}
.slider-item:nth-child(2) {
    background-color: #30c1fa;
}
.slider-item:nth-child(3) {
    background-color: #ff0000;
}
.slider-item__content {
    max-width: 45%;
}
.slider-item__title {
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px #000;
    font-weight: 900;
    margin-bottom: 30px;
}
.slider-item__list {
    display: flex;
    gap: 10px;
}
.slider-item__desc {
    font-size: 1.1rem;
    color: #242428;
    font-weight: 900;
    margin-bottom: 40px;
}

.slider-item__btn:hover {
    text-decoration: underline;
}
.slider-item__btn {
    font-weight: 900;
}
.slider-item__img-box {
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
}
.slider-item__img {
    width: 100%;
}
.slider-buttons {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
#btn-prev, #btn-next {
    width: 60px;
    height: 60px;
}
#btn-prev {
    background: url(../img/header/icons/prev-icon.png) 100% / cover no-repeat;
}
#btn-next {
    background: url(../img/header/icons/prev-icon.png) 100% / cover no-repeat;
    transform: rotate(180deg);
}

