body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(27, 27, 27);
}

.wrapper {
    max-width: 79%;
    margin: 90px auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}
.active {
    color: crimson;
}

.header__top {
    padding: 15px 30px;
    box-shadow: 0px 5px 5px #e1e1e1;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 10.5%;
    right: 10.5%;
    z-index: 15;
    background: #fff;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-img-box {
    width: 50px;
    height: 72px;
}

.header__top-img {
    width: 100%;
    object-fit: cover;
}

.header__top-nav {
    font-weight: 400;
    font-size: 1.2rem;
}

.header__top-nav-list {
    display: flex;
    gap: 15px;
}

.header__top-nav-item {
    transition: all .3s;
}

.header__top-nav-item:hover {
    text-decoration: underline;
}

.header__top-btn-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__top-dark-mode-btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url('../img/header/icons/dark-mode-btn-icon.svg') 100% / cover no-repeat;
}

.header__top-enter-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    width: 110px;
    height: 40px;
    font-weight: 400;
    background-color: rgb(48, 48, 48);
    box-shadow: 0px 5px 5px #e6e6e6;
    transition: all .2s;
}

.header__top-enter-btn:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: rgb(27, 27, 27);
}

.header__main {
    padding: 30px 30px;
}

.header__main-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__main-form {
    display: flex;
    gap: 5px;
}

.header__main-form-input {
    flex-grow: 1;
    height: 40px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    line-height: 1.5;
    position: relative;
    padding: 0 20px;
    box-shadow: 0px 2px 5px #e6e6e6;
}

.header__main-form-btn {
    width: 90px;
    height: 40px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    box-shadow: 0px 5px 5px #e6e6e6;
    transition: all .3s;
}

.header__main-form-btn:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: rgb(27, 27, 27)
}

.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    width: 170px;
    height: 100%;
    position: relative;
}


.header__main-slide-img-box {
    overflow: hidden;
    border-radius: 5px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e193;
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(0, 0, 0);
    background: #fff;
    transition: all .3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 20;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
    font-weight: bold;
}


/*---Section: popular*/

.popular {
    padding: 60px 30px;
}

.popular__inner {}

.popular__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.popular__anime-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 40px;
    column-gap: 5px;
}

.popular__anime-item {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popular__anime-img-box {
    border-radius: 5px;
    height: 320px;
    overflow: hidden;
    position: relative;
    background-color: #333;
    margin-bottom: 10px;
}


.popular__anime-img-box:hover .popular__anime-link {
    visibility: visible;
}

.popular__anime-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e193;
}

.popular__anime-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular__anime-title {
    font-weight: 700;
}

.popular__anime-year {}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animeHover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.swiper-preview {
    opacity: 0;
}
.swiper-slide:hover .swiper-preview {
    animation: animeHover 0.3s ease-out forwards;
}
.popular__anime-link {
    opacity: 0;
}
.popular__anime-img-box:hover .popular__anime-link {
    animation: animeHover 0.3s ease-out forwards;
}

.popular__anime-item {
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards;
}