body {
    font-family: 'Helvetica';
    background-color: rgb(27, 27, 27);
}

.wrapper {
    max-width: 1200px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

.header__top {
    padding: 15px 30px;
    box-shadow: 0px 5px 5px #c4c4c4;
    border-radius: 5px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-img-box {
    width: 50px;
    height: 72px;
}

.header__top-img {
    width: 100%;
    object-fit: cover;
}

.header__top-nav {
    font-weight: 700;
    font-size: 1.2rem;
}

.header__top-nav-list {
    display: flex;
    gap: 15px;
}

.header__top-nav-item:hover {
    text-decoration: underline;
}

.header__top-btn-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__top-dark-mode-btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url('../img/header/icons/dark-mode-btn-icon.svg') 100% / cover no-repeat;
}

.header__top-enter-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    width: 110px;
    height: 40px;
    font-weight: 700;
    background-color: rgb(48, 48, 48);
}

.header__main {
    padding: 30px 30px;
}

.header__main-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__main-form {
    display: flex;
    gap: 5px;
}

.header__main-form-input {
    flex-grow: 1;
    height: 40px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    line-height: 1.5;
    position: relative;
    padding: 0 20px;
}

.header__main-form-btn {
    width: 90px;
    height: 40px;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.header__main-slider {
    height: 280px;
    position: relative;
}

.header__main-track {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    height: 100%;
}

.header__main-slide {
    width: 175px;
    height: 100%;
}

.header__main-slide-link {}

.header__main-slide-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__main-slider-controls {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 7px;
    right: 7px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__main-slider-prev, .header__main-slider-next {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    font-weight: 700;
}
.header__main-slider-prev {}

.header__main-slider-next {}