body {
    font-family: 'Helvetica';
    background-color: rgb(27, 27, 27);
}

.wrapper {
    max-width: 1200px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

.header__top {
    padding: 15px 30px;
    box-shadow: 0px 5px 5px #e1e1e1;
    border-radius: 5px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-img-box {
    width: 50px;
    height: 72px;
}

.header__top-img {
    width: 100%;
    object-fit: cover;
}

.header__top-nav {
    font-weight: 700;
    font-size: 1.2rem;
}

.header__top-nav-list {
    display: flex;
    gap: 15px;
}

.header__top-nav-item:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.header__top-btn-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__top-dark-mode-btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url('../img/header/icons/dark-mode-btn-icon.svg') 100% / cover no-repeat;
}

.header__top-enter-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    width: 110px;
    height: 40px;
    font-weight: 700;
    background-color: rgb(48, 48, 48);
    box-shadow: 0px 5px 5px #e6e6e6;
    transition: all .2s;
}

.header__top-enter-btn:hover {
    background-color: #fff;
    transform: scale(1.05);
    color:rgb(27, 27, 27);
}

.header__main {
    padding: 30px 30px;
}

.header__main-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__main-form {
    display: flex;
    gap: 5px;
}

.header__main-form-input {
    flex-grow: 1;
    height: 40px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    line-height: 1.5;
    position: relative;
    padding: 0 20px;
    box-shadow: 0px 2px 5px #e6e6e6;
}

.header__main-form-btn {
    width: 90px;
    height: 40px;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    box-shadow: 0px 5px 5px #e6e6e6;
    transition: all .3s;
}
.header__main-form-btn:hover {
    transform: scale(1.05);
    background-color: #fff;
    color:rgb(27, 27, 27)
}

.swiper {
    width: 100%;
    height: 280px;
}

.swiper-slide {
    width: 175px;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(0, 0, 0);
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 20;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}