
.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 15px;
}

.desc {
    color: var(--desc-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--menu-title-color);
    padding-block: 1rem;
    box-shadow: 0px 2px 5px #eaeaea;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn-box {
    display: flex;
    column-gap: 0.75rem;
    font-weight: 600;
}

.header__sign-in-btn {
    border: 1px solid var(--main-bg);
}

.header__sign-in-btn:hover, .hero__sign-in-btn:hover {
    background-color: var(--main-bg);
}

.btn {
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
}

.header__start-btn, .hero__start-btn {
    background-color: var(--title-color);
    color: var(--menu-title-color);
}

.hero__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;  
    min-height: calc(100vh - 82px);
}

.hero-wrapper {
    text-align: center;
    max-width: 40rem;
}

.hero__main-title {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.hero__main-title span {
    color: var(--section-title-color);
}

.hero__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero__btn-box {
    display: flex;
    justify-content: center;
    column-gap: 0.625rem;
    font-weight: 600;
    font-size: 1.125rem;
}

.hero__sign-in-btn {
    border: 1px solid var(--main-bg);
}

/*Features*/
.features, .join-us {
    padding-block: 6rem;
}

.features__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

.features__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features__desc {
    text-align: center;
}

.features__content-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.features__content-item {
    padding: 2rem;
    border: 1px solid var(--main-bg);
    border-radius: var(--border-radius);
}

.features__content-item:hover {
    box-shadow: var(--box-shadow);
}

.features__content-item svg {
    margin-bottom: 1rem;
}

.features__content-title {
    margin-bottom: 0.5rem;
}

/*Join-us*/
.join-us__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--menu-title-color);
    background-color: var(--section-title-color);
    padding-block: 3rem;
    border-radius: var(--border-radius);
    background: #ff9c9c;
    background: var(--join-us-bg)
}

.join-us__title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.join-us__desc {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.join-us__btn {
    background-color: #fff;
    color: var(--title-color);
    font-weight: 700;
}

.join-us__btn:hover {
    background-color: var(--main-bg);
}

/*Footer*/
.footer {
    padding-block: 2rem;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Adaptive*/
@media (max-width: 1024px) {
    .features__content-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 801px) {
    .features__title {
        font-size: 2rem;
    }

    .features, .join-us {
        padding-block: 5rem;
    }
}

@media(max-width: 601px) {
    .features__title, .features__desc {
        max-width: 90%;
        text-align: center;
        margin-inline: auto;
    }

    .features__inner {
        row-gap: 3rem;
    }

    .hero__main-title {
        font-size: 3.5rem;
    }
    .hero__description {
        font-size: 1.2rem;
    }
    .header__btn-box {
        display: none;
    }

    .features__content-list {
        grid-template-columns: 1fr;
    }

    .features__content-item {
        width: 80%;
        margin-inline: auto;
    }

    .features, .join-us {
        padding-block: 3rem;
    }
    .join-us__desc {
        text-align: center;
        max-width: 80%;
    }
}

@media(max-width: 430px) {
    .join-us__title {
        font-size: 1.5rem;
    }
    .join-us__inner {
        padding-block: 2rem;
    }
    .hero__main-title {
        font-size: 3rem;
    }
    .features__title, .features__desc {
        max-width: 95%;
    }
}